<h3>Listado de Heroes</h3>
<hr>

<div *ngIf="deleteHero; else noDeleteHero">
  <h3 >Heroe Borrado : <small class="text-danger">{{deleteHero}}</small> </h3>
</div>

<ng-template #noDeleteHero>
  <h3>No ha borrado nada</h3>
</ng-template>


<button
  *ngIf="heroNames.length > 0"
  (click)="removeLastHero()"
  class="btn btn-outline-danger"
>
Borrar ultimo heroe
</button>


<ul class="list-group mt-5">
  <li
    *ngFor="let hero of heroNames"
    class="list-group-item">
    {{hero}}
  </li>
</ul>



